/* Style for header */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    /* Instead of background-color, use background-image */
    background-image: url('green.jpg');
    /* Set background size and position */
    background-size: cover; /* Adjusts the size of the image to cover the entire viewport */
    background-position: center; /* Centers the image */
}





nav ul li a {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    color: rgb(119, 37, 37);
}

nav ul li a:hover {
    background-color: lightgray;
    border-radius: 5px;
}


header h1 {
    margin: 10;
}





.header-content {
    display: flex; /* Use flexbox for layout */
    justify-content: space-between; /* Align items with space between */
    align-items: center; /* Center items vertically */
    background-color: #88b04b;

}



.logo {
    float: left; /* Float the logo to the left */
}

.logo img {
    width: 50px; /* Adjust the width of the logo image as needed */
    height: auto; /* Maintain aspect ratio */
}

nav {
    flex-grow: 1; /* Allow the navigation menu to grow and take up remaining space */
    text-align: center; /* Center-align the contents of the navigation menu */
}

nav ul {
    display: inline-block;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}






/* Style for address */
/* Add this CSS to your contact.css file */

/* Use flexbox for layout */
.content {
    display: flex;
    align-items: center; /* Center items vertically */
}

/* Set the width for the address */
.address {
    width: 50%; /* Adjust as needed */
    margin-left: 200px; /* Add margin to move the address to the right */
    margin-top: 60px; /* Adjust margin to move the address slightly downwards */
}

/* Set the width for the picture */
.picture {
    width: 50%; /* Adjust as needed */
    margin-right: 200px; /* Add margin to move the address to the right */
    margin-top: 100px; /* Adjust margin to move the address slightly downwards */

}

/* Ensure the image is responsive within its container */
.picture img {
    width: 100%;
    height: auto;
}
.icon {
    width: 20px; /* Adjust width as needed */
    height: 20px; /* Adjust height as needed */
}
.note {
    text-align: center; /* Center the text */
    margin-bottom: 80px; /* Add some space between the address/picture and the note */
}



.note {
    position: absolute; /* Position the note absolutely within the content section */
    bottom: 0; /* Position the note at the bottom of the content section */
    left: 0; /* Align the note to the left */
    right: 0; /* Align the note to the right */
    padding: 10px; /* Add padding around the note content */
    border-radius: 5px; /* Add rounded corners */
}


/* Style for footer */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    color: #ffffff;
    text-align: center;
    padding: 20px;
}

